<h1>Mneu Sessiones</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Empleados" asp-action="SessionSalarios">Session Salarios</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Empleados" asp-action="SessionEmpleados">Session Empleados</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Empleados" asp-action="SessionEmpleadosOk">Session Empleados OK</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Empleados" asp-action="SessionEmpleadosV4">Session Empleados v4</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Empleados" asp-action="SessionEmpleadosV5">Session Empleados v5</a>
    </li>
</ul>